<!doctype html>
<html>
  <%= partial "/partials/head" %>
  <body>
    <div class="mobile-buttons">
      <button class="show-navigation"><%= fa_icon("bars") %></button>
      <button class="show-search"><%= fa_icon("search") %></button>
    </div>

    <div class="page">
      <%= partial "/partials/header" %>
        <%= yield %>
      <%= partial "/partials/footer" %>
    </div>

    <%= javascript_include_tag "jquery.tooltipster.min.js" %>
    <script>
      $(function() {
        SaraivaAtualiza.tooltip();
      });
    </script>
    <%= yield_content :javascripts %>
  </body>
</html>
