<!doctype html>
<html>
  <%= partial "/partials/head" %>
  <body class="<%= page_classes %>">
    <%= partial "/partials/header" %>
    <%= yield %>
    <%= partial "/partials/footer" %>
    <script>
      $(function() {
        SaraivaAtualiza.setContentHeight(".blog-sections li");
      });
    </script>
  </body>
</html>
