<!doctype html>
<html>
  <%= partial "/partials/head" %>
  <body class="<%= page_classes %>">
    <%= partial "/partials/header" %>
    <%= yield %>
    <%= partial "/partials/footer" %>
    <%= yield_content :javascripts %>
  </body>
</html>
