<!doctype html>
<html>
  <%= partial "/partials/head" %>
  <body>
    <nav class="mobile-navigation">
      <%= partial "/partials/user-actions" %>
      <%= partial "/partials/navigation" %>
    </nav>

    <div class="page">
      <div class="mobile-buttons">
        <button class="show-navigation"><%= fa_icon("bars") %></button>
        <button class="show-search"><%= fa_icon("search") %></button>
      </div>
      <%= partial "/partials/header" %>
        <%= yield %>
      <%= partial "/partials/footer" %>
    </div>

    <%= javascript_include_tag "jquery.tooltipster.min.js" %>
    <script>
      jQuery(window).load(function () {
        SaraivaAtualiza.tooltip();
        SaraivaAtualiza.mobileNavigation(".mobile-navigation");
      });
    </script>
    <%= yield_content :javascripts %>
  </body>
</html>
