<!doctype html>
<html>
  <%= partial "/partials/head" %>
  <body>
    <nav class="mobile-navigation">
      <%= partial "/partials/user-actions" %>
      <%= partial "/partials/navigation" %>
    </nav>

    <div class="page">
      <div class="mobile-buttons">
        <button class="show-navigation"><%= fa_icon("bars") %></button>
        <button class="show-search"><%= fa_icon("search") %></button>
      </div>
      <%= partial "/partials/header" %>

      <section class="post <%= page_classes("users") %>">
        <header>
          <div class="content">
            <h3><%= current_page.data.title %></h3>
          </div>
        </header>

        <div class="content">
          <div class="login">
            <ul class="connect">
              <% %w(facebook twitter saraiva etico).each do |item| %>
                <li class="<%= item %>"><%= link_to "<b>Conectar</b> com <b> #{item}".html_safe, item %></b></li>
              <% end %>
            </ul>

            <p class="or"><span>Ou</span></p>

            <%= yield %>
          </div>

          <%= yield_content :users_footer %>
        </div>
      </section>
      <%= partial "/partials/footer" %>

      <script>
        jQuery(window).load(function () {
          SaraivaAtualiza.mobileNavigation(".mobile-navigation");
        });
      </script>
      <%= yield_content :javascripts %>
    </div>
  </body>
</html>
