<section class="top-by-category">
  <div class="content">
    <% data.sections.names.each_with_index do |item, index| %>
      <div>
        <h3 class="<%= item.parameterize %>"><%= item %></h3>
        <%= image_tag "http://placehold.it/223x100" %>

        <ul>
          <% length = data.sections.notices.length %>
          <% data.sections.notices.each_with_index do |notice, index| %>
            <% index += 1 %>
            <li class="<%= item.parameterize %> <%= "last" if index === length %>">
              <h4><a href=""><%= notice.title %></a></h4>
              <p><a href=""><%= notice.short_description %></a></p>
            </li>
          <% end %>
        </ul>

        <%= link_to "Mais materias", "", class: "read-more" %>
      </div>
    <% end %>
  </div>
</section>
