<header>
  <ul class="tags">
    <li><%= link_to current_page.data.tag, "post", class: current_page.data.tag.parameterize if current_page.data.tag %></li>
  </ul>

  <h1><%= current_page.data.title %></h1>

  <p class="post-meta">
    <span class="author">Por: por Osmar Freitas Jr.</span>
    <span class="location">de Nova York - </span>
    <time datetime="2015-03-27T20:47:52+00:00">Março, 2015</time>
    <span class="number">/ <a href="">Atualiza #25</a></span>
  </p>

  <div class="post-utils">
    <ul class="actions">
      <li class="zoom-in-out">
      <a href="" class="zoom-in"><span class="plus">+<%= fa_icon "font" %></a>
        <span>/</span>
      <a href="" class="zoom-out"><span class="minus">-<%= fa_icon "font" %></a>
      </li>
      <li class="print"><a href=""><%= fa_icon "print" %> <span>Imprimir</span></a></li>
      <li class="send-email"><a href=""><%= fa_icon "envelope-square" %> <span>Enviar por email</span></a></li>
      <li class="read-latter"><a href=""><%= fa_icon "clock-o" %> <span>Ver mais tarde</span></a></li>
    </ul>
  </div>
</header>
