<header>
  <ul class="tags">
    <li><%= link_to current_page.data.tag, "post", class: current_page.data.tag %></li>
  </ul>

  <h1><%= current_page.data.title %></h1>

  <p class="post-meta">
    Por: <span class="author">Por por Osmar Freitas Jr.</span>
    de <span class="location">Nova York</span>
    -
    <time datetime="2015-03-27T20:47:52+00:00">Março, 2015</time>
    <span class="number">/ <a href="">Atualiza #25</a></span>
  </p>

  <div class="post-utils">
    <ul class="actions">
      <li class="zoom-in-out">
      <a href="" class="zoom-in"><span class="plus">+<%= fa_icon "font" %></a>
        <span>/</span>
      <a href="" class="zoom-out"><span class="minus">-<%= fa_icon "font" %></a>
      </li>
      <li><a href="" class="print"><%= fa_icon "print" %> Imprimir</a></li>
      <li><a href="" class="send-email"><%= fa_icon "envelope-square" %> Enviar por email</a></li>
      <li><a href="" class="read-latter"><%= fa_icon "clock-o" %> Ver mais tarde</a></li>
    </ul>
  </div>
</header>
