---
title: Atualiza Enem
category: Atualiza Enem
tag: destaque
---

<section class="post atualiza-enem">
  <%= partial "/partials/page_header" %>

  <div class="content">
    <%= partial "/partials/filter_form" %>

    <ul class="enem-editions">
      <% 8.times do |i| %>
        <li <%= "class='last'" if i % 4 == 3 %>>
          <%= image_tag "enem/fake-capa-enem.png" %>
          <p>Atualiza ENEM <span class="year">Ano 10 / #25</span></p>
          <%= link_to "#{fa_icon("download")} Baixar PDF", "" %>
        </li>
      <% end %>
    </ul>

    <footer>
      <%= link_to "#{fa_icon("chevron-down")} MOSTRAR MAIS CADERNOS #{fa_icon("chevron-down")}", "" %>
    </footer>
  </div>
</section>
