---
title: Aplicativos - entre a promessa e as ameaças
category: Encare essa
page_name: Encare essa
tag: destaque
---

<section class="post">
  <%= partial "/partials/page_header" %>

  <article>
    <%= partial "/post/header" %>

    <section class="encare-essa">
      <figure class="wp-caption alignright">
        <%= image_tag "http://placehold.it/456x246" %>
      </figure>

      <h3><a href="">Bateria The Flash</a></h3>
      <p>
        Em 2013, o site de tecnologia App Annie previu que o mercado potencial para
        aplicativos seria de US$ 1 trilhão até 2016. Em 9 de se- tembro de 2014,
      </p>
      <br>
      <a href="" class="download"><%= fa_icon("download") %> Baixar PDF</a>
    </section>

    <section class="encare-essa">
      <figure class="wp-caption alignleft">
        <%= image_tag "http://placehold.it/456x246" %>
      </figure>

      <h3><a href="">Bateria The Flash</a></h3>
      <p>
        Em 2013, o site de tecnologia App Annie previu que o mercado potencial para
        aplicativos seria de US$ 1 trilhão até 2016. Em 9 de se- tembro de 2014,
      </p>
      <br>
      <a href="" class="download"><%= fa_icon("download") %> Baixar PDF</a>
    </section>
  </article>
</section>

<%= partial "/partials/sem_limites", locals: { klass: "Encare essa" } %>
