---
title: Aplicativos - entre a promessa e as ameaças
category: global
page_name: Encare essa
tag: destaque
---

<section class="post <%= "#{page_classes}" %>">
  <%= partial "/partials/page_header" %>

  <article class="post <%= current_page.data.title.parameterize %>">
    <%= partial "/post/header" %>
    <section class="block-content" style="margin-bottom: 0">
      <figure class="wp-caption alignright">
        <%= image_tag "http://placehold.it/456x246" %>
      </figure>

      <h3 class="global">Bateria The Flash</h3>
      <p>
        Em 2013, o site de tecnologia App Annie previu que o mercado potencial para
        aplicativos seria de US$ 1 trilhão até 2016. Em 9 de se- tembro de 2014,
      </p>
      <br>
      <a href="" class="download"><%= fa_icon("download") %> Baixar PDF</a>
    </section>

    <section style="padding-top: 40px">
      <figure class="wp-caption alignleft">
        <%= image_tag "http://placehold.it/456x246" %>
      </figure>

      <h3 class="global">Bateria The Flash</h3>
      <p>
        Em 2013, o site de tecnologia App Annie previu que o mercado potencial para
        aplicativos seria de US$ 1 trilhão até 2016. Em 9 de se- tembro de 2014,
      </p>
      <br>
      <a href="" class="download"><%= fa_icon("download") %> Baixar PDF</a>
    </section>
  </article>
</section>
<%= partial "/partials/top_news" %>
