---
title: Aplicativos - entre a promessa e as ameaças
category: global
page_name: Nuvem Tech
tag: destaque
---

<section class="post <%= "#{page_classes}" %>">
  <%= partial "/partials/page_header" %>

  <article class="post <%= current_page.data.title.parameterize %>">
    <%= partial "/post/header" %>

    <% 3.times do %>
      <section>
        <figure class="wp-caption alignright">
          <%= image_tag "http://placehold.it/306x245" %>
        </figure>

        <h3 class="global">Bateria The Flash</h3>
        <p>
          Em 2013, o site de tecnologia App Annie previu que o mercado potencial para
          aplicativos seria de US$ 1 trilhão até 2016. Em 9 de se- tembro de 2014,
          a loja da Apple es- tadunidense tinha 1,3 milhão de apps e a da Google oferecia 1,374 milhão.
          Na realidade, o faturamento combinado des- ses produtos será de US$ 143 bilhões em 2016,
          tendo sido de “meros” US$ 68 bilhões em 2013. Ainda é muito,
          considerando-se que quase 90% desses pro- gramas são fornecidos gratuitamente aos clientes.
        </p>

        <p><b>Fonte:</b> <a href="">www.inovacaotecnologica.com.br</a></p>
      </section>

      <section>
        <figure class="wp-caption alignleft">
          <%= image_tag "http://placehold.it/306x245" %>
        </figure>

        <h3 class="global">Bateria The Flash</h3>
        <p>
          Em 2013, o site de tecnologia App Annie previu que o mercado potencial para
          aplicativos seria de US$ 1 trilhão até 2016. Em 9 de se- tembro de 2014,
          a loja da Apple es- tadunidense tinha 1,3 milhão de apps e a da Google oferecia 1,374 milhão.
          Na realidade, o faturamento combinado des- ses produtos será de US$ 143 bilhões em 2016,
          tendo sido de “meros” US$ 68 bilhões em 2013. Ainda é muito,
          considerando-se que quase 90% desses pro- gramas são fornecidos gratuitamente aos clientes.
        </p>

        <p><b>Fonte:</b> <a href="">www.inovacaotecnologica.com.br</a></p>
      </section>
    <% end %>
  </article>
</section>
<%= partial "/partials/top_news" %>
