---
title: Aplicativos - entre a promessa e as ameaças
category: Toda Midia
page_name: Toda Midia
tag: destaque
---

<section class="post">
  <%= partial "/partials/page_header" %>

  <article>
    <%= partial "/post/header" %>

    <% 4.times do %>
      <section class="toda-midia block-content" style="margin-bottom: 0">
        <h3>Sites</h3>
        <br>

        <ol>
          <li>
            <figure>
              <%= image_tag "http://placehold.it/223x207", class: "alignleft" %>
            </figure>
            <div class="info">
              <h4>Só Matemática</h4>
              <p>
                Portal existente há 16 anos, oferece,
                além de aulas e exercícios de matemática,
                recursos como comunidade, fóruns e jogos.
                É apontado como um dos maiores portais de conteúdo da disciplina.
              </p>
              <span>Acesse: <a href="">www.somatematica.com.br</a></span>
            </div>
          </li>

          <li>
            <figure>
              <%= image_tag "http://placehold.it/223x207", class: "alignleft" %>
            </figure>
            <div class="info">
              <h4>Só Matemática</h4>
              <p>
                Portal existente há 16 anos, oferece,
                além de aulas e exercícios de matemática,
                recursos como comunidade, fóruns e jogos.
                É apontado como um dos maiores portais de conteúdo da disciplina.
              </p>

              <span>Acesse: <a href="">www.somatematica.com.br</a></span>
            </div>
          </li>
        </ol>
      </section>
    <% end %>
  </article>
</section>

<%= partial "/partials/sem_limites", locals: { klass: "Toda Midia" } %>
